h1{
    text-shadow: 0px 0px 5px red;
    font-size: 30px;
}
body{
    background-color:rgba(254,25,254,.3);
    
    background-image: url("images/12.jpeg");
    background-position: left top,right top;
    background-repeat: no-repeat;
    background-position: center;
}
p{
    
    background-color:rgba(136, 11, 136, 0.3);
    background-image: linear-gradient(rgba(41, 156, 51, 0.3),rgb(215, 7, 7),blue);
    font-size: 15px;
    justify-content: center;
    
}